<div class="row">
    <div id = "buscas" class = "container">
    <div class = "container col-lg-6 offset-sm-3"   id=headbox >
        <h3>CRIAR QUESTÃO</h3>
        <hr>
    </div>

     <!-- ========================  Formulário de Criar Questão  ============================================== -->

    <div class="container" >
        <form class = "col-lg-6 offset-sm-3">
                
            <!-- ========================  Passo 1  ============================================== -->
            <div ng-show="step == 1">
                <div class="progress form-group row " style="height: 5px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:25%"></div>
                </div>
                <div class="form-group row" required>
                        <label ><h6>Tipo de Questão:</h6></label>
                        <div  class="col-1 addTipo">
                                <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="Objetiva"  id="customRadioInline1" name="tipo" class="custom-control-input" data-ng-model="tipo"> 
                                        <label class="custom-control-label" for="customRadioInline1">Objetiva</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio"  value="Subjetiva" id="customRadioInline2" name="tipo" class="custom-control-input"  data-ng-model="tipo">
                                        <label class="custom-control-label" for="customRadioInline2">Subjetiva</label>
                                </div>
                        </div>
                </div> 
    

                <div class="form-group row"  >
                    <label><h6>Fonte:</h6></label>
                    <input  type="text"  class="form-control"  placeholder="Ex.: PISA, ENEM ou Autoral" ng-model="fonte">
                </div>

                <div  ng-show="inputError" class="alert alert-warning">
                    <strong>Atenção!</strong> Você deve preencher todos os campos.
                </div>


                <button class="btn btn-primary" ng-click="checkPasso1('proximo')">Continuar
                        <i class="fas fa-arrow-circle-right"></i>       
                </button>
            </div>

            <!-- ========================  Passo 2  ============================================== -->
            <div ng-show="step == 2">
                <div class="progress form-group row " style="height: 5px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:45%"></div>
                </div>
                <div class="form-group row">
                    <label><h6>Enunciado:</h6></label>
                    <ng-quill-editor id = "quill" modules="editorModules" placeholder="Digite o enunciado da questão." 
                        ng-model="enunciado" on-editor-created="editorCreated(editor)" 
                        on-content-changed="contentChanged(editor, html, text)">                          
                    </ng-quill-editor>               
                </div>


                <div class = "conteudoAdd">         
                        <div ng-show="inputError" class="alert alert-warning">
                            <strong>Atenção!</strong> Você deve preencher todos os campos.
                        </div>
                        <div ng-show="loading">
                                <div class="alert alert-warning">
                                    <strong>Identificando competências...</strong>
                                </div>
                            <div class="loader"> </div>
                        </div>
                        <div ng-show="loading === false">
                            <button class="btn btn-outline-secondary" ng-click="checkPasso1('anterior')">
                                    <i class="far fa-arrow-alt-circle-left"></i>                            
                                    Voltar
                            </button>

                            <button class="btn btn-primary" ng-click="checkPasso2()">Continuar
                                    <i class="fas fa-arrow-circle-right"></i>       
                            </button>         
                        </div>       
                </div>

            </div>



            <!-- ======================== Modal  ============================ -->
            <div class="modal fade" ng-show = "loading === false" id="Modal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                                                                
                        <!-- Modal Header -->
                        <div class="modal-header">                  
                            <h5 class="modal-title"> Competências identificadas: </h5>
                        </div>
                                                                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="competencias" ng-repeat="competencia in competencias"  ng-class="{wrap:!($index % 4)}">
                                    <span  class="col-1">
                                        <em>{{repaginaCompetencia(competencia)}} </em>
                                    </span>
                            </div> 
                        </div>
        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-secondary"  data-dismiss="modal">
                                    <i class="far fa-arrow-alt-circle-left"></i>                            
                                        Voltar    </button>
                                <button ng-click="checkPasso2('proximo')" type="button" class="btn btn-primary"  data-dismiss="modal">Continuar
                                        <i class="fas fa-arrow-circle-right"></i>       
                                </button>
                            </div>
                            </div>
                        </div>   
                    </div>
            </div>

            <!-- ========================  Passo 3  ============================================== -->
            <div ng-show="step == 3">
                <div class="progress form-group row " style="height: 5px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:85%"></div>
                </div>
            <div class="form-group row">
                <label><h6>Conteúdo:</h6></label>
                <select class="form-control selectpicker" data-none-selected-text= "Selecione um conteúdo" 
                data-none-results-text= "Nenhum resultado encontrado" data-live-search="true" 
                data-live-search-normalize="true" data-size=6 ng-model="conteudo">
                    <option value="">Selecione um conteúdo</option>
                    <option data-tokens="somar">Adição</option>
                    <option >Conjuntos</option>
                    <option data-tokens="Numéricos Complexos Racionais Reais Naturais Irracionais Inteiros">Conjuntos Numéricos</option>
                    <option >Critérios de Divisibilidade</option>
                    <option>Divisão</option>
                    <option>Divisão de Frações</option>
                    <option>Equação do Primeiro Grau</option>
                    <option>Equação do Segundo Grau</option>
                    <option>Estatística</option>
                    <option>Expressões Numéricas</option>
                    <option>Frações</option>
                    <option data-tokens="Formas Geométricas">Geometria</option>
                    <option data-tokens="Cilindro Cubo Cone Esfera Paralelepípedo">Geometria Espacial</option>
                    <option data-tokens="Ângulos Bissetriz Mediatriz Paralelogramo Retas Quadrado Retângulo Trapézio Triângulo">Geometria Plana</option>
                    <option>Inequação</option>
                    <option>Juros Compostos</option>
                    <option>Juros Simples</option>
                    <option>Matrizes</option>
                    <option>MDC: Máximo Divisor Comum</option>
                    <option>MMC: Mínimo Múltiplo Comum</option>
                    <option>Multiplicação</option>
                    <option>Multiplicação de Frações</option>
                    <option>Números Decimais</option>
                    <option>Números Primos</option>
                    <option>Potenciação</option>
                    <option>PA: Progressão Aritmética</option>
                    <option>PG: Progressão Geométrica</option>
                    <option>Plano Cartesiano</option>
                    <option>Porcentagem</option>
                    <option>Produtos Notáveis</option>
                    <option>Radiciação</option>
                    <option>Razão e Proporção</option>
                    <option>Sistemas Lineares</option>
                    <option>Soma de Frações</option>
                    <option>Subtração</option>
                    <option>Subtração de Frações</option>
                    <option>Tabuada</option>
                    <option>Triângulo de Pascal</option>
                    <option data-tokens="Seno Cosseno Tangente">Trigonometria</option>
                    <option>Unidades de Medida</option>
                    <option>Outros</option>
                </select>
            </div>
    
            <!-- ========================  Campos específicos de questão Subj  ============================================== -->

            <div ng-switch = "isObjective()">
                <div ng-switch-when="false"> 
                    <div class="form-group row">
                        <label><h6>Você deseja incluir  espelho para questão? 
                        </h6></label> 
                        <div class="custom-control custom-checkbox col-lg-3">
                            <input id = "customCheckEspelho" type="checkbox"  class="custom-control-input" ng-click = "setEspelho()"> 
                            <label class="custom-control-label" for="customCheckEspelho">Sim</label>
                        </div>
                    </div>

                    <div ng-show = "espelho == 'nao'" class="form-group row">   
                        <label><h6>Espelho da Questão:</h6></label>  
                        <ng-quill-editor modules="editorModules" placeholder="Digite a resposta da questão"
                        ng-model="resposta.espelho" on-editor-created="editorCreated(editor)" 
                        on-content-changed="contentChanged(editor, html, text)" read-only="true"> </ng-quill-editor>
                    </div>

                    <div ng-show = "espelho == 'sim'" class="form-group row">   
                            <label><h6>Espelho da Questão:</h6></label>  
                            <ng-quill-editor modules="editorModules" placeholder="Digite a resposta da questão"
                            ng-model="resposta.espelho" on-editor-created="editorCreated(editor)" 
                            on-content-changed="contentChanged(editor, html, text)"> </ng-quill-editor>
                    </div>

                    <div class="form-group row conteudoAdd">

                            <div  ng-show="inputError" class="alert alert-warning">
                                    <strong>Atenção!</strong> Você deve selecionar um conteúdo.
                            </div>
                            <button class="btn btn-outline-secondary btn-block btn-sm" ng-click="checkPasso2('anterior')">
                                    <i class="far fa-arrow-alt-circle-left"></i>                            
                                    Voltar
                            </button>
                            <button  id="question-bt"  class="btn btn-primary btn-block " ng-click="checkPasso3('subjetiva')">Registrar</button>
                    </div>
                </div>


             <!-- ========================  Campos específicos de questão Obj  ============================================== -->
                <div ng-switch-when = "true">                  
                    <div class="form-group row">
                        <label><h6>Alternativas:</h6></label>
                    </div>
                    <div class="form-group row ">
                        <div class = "col-sm-6">
                            <div class="form-group row">
                                <label for="inputAlternativa1"><h6>a)</h6></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa a)" id="inputAlternativa1"  ng-model="alternativas.alternativa1">
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <label for="inputAlternativa2"><h6>b)</h6></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa b)" id="inputAlternativa2"  ng-model="alternativas.alternativa2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputAlternativa3"><h6>c)</h6></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa c)" id="inputAlternativa3"  ng-model="alternativas.alternativa3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputAlternativa4"><h6>d)</h6></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa d)" id="inputAlternativa4"  ng-model="alternativas.alternativa4">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputAlternativa5"><h6>e)</h6></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa e)" id="inputAlternativa5"  ng-model="alternativas.alternativa5">
                                </div>
                            </div>                          
                        </div>
                        
                        <div class = "col-sm-6">
                            <div class="form-group row">
                                <label class="form-check-label"><h6>Correta:</h6></label>
                                <div class="ml-5">
                                    <input type="checkbox" class="form-check-input" ng-model="corretas.Value1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label ><h6>Correta:</h6></label>
                                <div class="ml-5">
                                    <input type="checkbox" class="form-check-input" ng-model="corretas.Value2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label><h6>Correta:</h6></label>
                                <div class="ml-5">
                                    <input type="checkbox" class="form-check-input" ng-model="corretas.Value3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label ><h6>Correta:</h6></label>
                                <div class="ml-5">
                                    <input type="checkbox" class="form-check-input" ng-model="corretas.Value4">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label><h6>Correta:</h6></label>
                                <div class="ml-5">
                                    <input type="checkbox" class="form-check-input" ng-model="corretas.Value5">
                                </div>
                            </div>
                        </div>
                </div>


                <div class="form-group row">
                        <div  ng-show="inputError" class="alert alert-warning">
                                <strong>Atenção!</strong> Você deve selecionar um conteúdo.
                        </div>


                        <button class="btn btn-outline-secondary btn-block btn-sm" ng-click="checkPasso2('anterior')">
                                <i class="far fa-arrow-alt-circle-left"></i>                            
                                Voltar
                        </button>
                        <button  id="question-bt"  class="btn btn-primary btn-block" ng-click="checkPasso3('objetiva')">Registrar</button>
                </div>

            </div>
                                    
            </div>
        </div>

        

        </form>

        </div>

    </div>
</div>


