<div class="row">
    <div id = "buscas" class = "container">
        <div class = "container col-lg-6 offset-sm-3"   id=headbox >
            <h3>CRIAR QUESTÃO</h3>
            <hr>
        </div>

        <!-- ========================  Formulário de Criar Questão  ============================================== -->

        <div class="container" >
            <form class = "col-lg-6 offset-sm-3" >
                    
                <!-- ========================  Passo 1  ============================================== -->
                <div ng-show="step == 1">
                    <div class="progress form-group row " style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%"></div>
                    </div>
                    <div class="form-group row" required>
                            <label ><h6>Tipo de Questão:</h6></label>
                            <div  class="col-1 addTipo">
                                    <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" value="Objetiva"  id="customRadioInline1" name="tipo" class="custom-control-input" data-ng-model="tipo"> 
                                            <label class="custom-control-label" for="customRadioInline1">Objetiva</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio"  value="Subjetiva" id="customRadioInline2" name="tipo" class="custom-control-input"  data-ng-model="tipo">
                                            <label class="custom-control-label" for="customRadioInline2">Subjetiva</label>
                                    </div>
                            </div>
                    </div> 
        

                    <div class="form-group row"  >
                        <label><h6>Fonte:</h6></label>
                        <input  type="text"  class="form-control"  placeholder="Ex.: PISA, ENEM ou Autoral" ng-model="fonte">
                    </div>

                    <div  ng-show="inputError" class="alert alert-warning">
                        <strong>Atenção!</strong> Você deve preencher todos os campos.
                    </div>


                    <button type="button" class="btn btn-primary" ng-click="checkPasso1('proximo')">Continuar
                            <i class="fas fa-arrow-circle-right"></i>       
                    </button>
                </div>

                <!-- ========================  Passo 2  ============================================== -->
                <div ng-show="step == 2">
                    <div class="progress form-group row " style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
                    </div>
                    <div class="form-group row">
                        <label><h6>Enunciado:</h6></label>
                        <ng-quill-editor id = "quill" modules="editorModules" placeholder="Digite o enunciado da questão." 
                            ng-model="enunciado" on-content-changed="contentChanged()">                          
                        </ng-quill-editor>               
                    </div>


                    <div class = "conteudoAdd">         
                            <div ng-show="inputError" class="alert alert-warning">
                                <strong>Atenção!</strong> Você deve preencher todos os campos.
                            </div>
                            <div ng-show="loading">
                                    <div class="alert alert-warning">
                                        <strong>Identificando competências...</strong>
                                    </div>
                            </div>
                            <div ng-show="loading === false">
                                <button type="button" class="btn btn-outline-secondary" ng-click="checkPasso1('anterior')">
                                        <i class="fas fa-arrow-alt-circle-left"></i>                            
                                        Voltar
                                </button>

                                <button type="button" class="btn btn-primary" ng-click="checkPasso2()">Continuar
                                        <i class="fas fa-arrow-circle-right"></i>       
                                </button>         
                            </div>       
                    </div>

                </div>

                <!-- ========================  Passo 3  ============================================== -->
                <div ng-show="step == 3">
                    <div class="progress form-group row " style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                    </div>
                    <div class="form-group row">
                        <label><h6>Conteúdo:</h6></label>
                        <select class="form-control selectpicker" data-none-selected-text= "Selecione um conteúdo" 
                        data-none-results-text= "Nenhum resultado encontrado" data-live-search="true" 
                        data-live-search-normalize="true" ng-model="conteudo">
                        </select>
                    </div>

                    <!-- ========================  Campos específicos de questão Subj  ============================================== -->

                    <div ng-switch = "isObjective()">
                        <div ng-switch-when="false"> 
                            <div class="form-group row">   
                                    <label><h6>Espelho da Questão:</h6></label>  
                                    <ng-quill-editor modules="editorModules" placeholder="Digite a resposta da questão"
                                    ng-model="resposta.espelho" on-content-changed="contentChanged()"> </ng-quill-editor>
                            </div>


                            <div class = "conteudoAdd"> 
                                <div  ng-show="inputError" class="alert alert-warning">
                                    <strong>Atenção!</strong> Você deve preencher todos os campos.
                                </div>

                                <button type="button" class="btn btn-outline-secondary" ng-click="checkPasso2('anterior')">
                                        <i class="fas fa-arrow-alt-circle-left"></i>                            
                                        Voltar
                                </button>
                                <button type="button"   class="btn btn-primary " ng-click="checkPasso3('subjetiva')">Registrar</button>
                            </div>
                        </div>


                    <!-- ========================  Campos específicos de questão Obj  ============================================== -->
                        <div ng-switch-when = "true">                  
                            <div class="form-group row">
                                <label><h6>Alternativas:</h6></label>
                            </div>
                            <div class="form-group row ">
                                <div class = "col-sm-6">
                                    <div class="form-group row">
                                        <label for="inputAlternativa1"><h6>a)</h6></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa a)" id="inputAlternativa1"  ng-model="alternativas.alternativa1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputAlternativa2"><h6>b)</h6></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa b)" id="inputAlternativa2"  ng-model="alternativas.alternativa2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputAlternativa3"><h6>c)</h6></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa c)" id="inputAlternativa3"  ng-model="alternativas.alternativa3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputAlternativa4"><h6>d)</h6></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa d)" id="inputAlternativa4"  ng-model="alternativas.alternativa4">
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputAlternativa5"><h6>e)</h6></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" placeholder="Digite a alternativa e)" id="inputAlternativa5"  ng-model="alternativas.alternativa5">
                                        </div>
                                    </div>                          
                                </div>
                                
                                <div class = "col-sm-6">
                                    <div class="form-group row">
                                        <label class="form-check-label"><h6>Correta:</h6></label>
                                        <div class="ml-5">
                                            <input type="checkbox" class="form-check-input" ng-model="corretas.Value1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label ><h6>Correta:</h6></label>
                                        <div class="ml-5">
                                            <input type="checkbox" class="form-check-input" ng-model="corretas.Value2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label><h6>Correta:</h6></label>
                                        <div class="ml-5">
                                            <input type="checkbox" class="form-check-input" ng-model="corretas.Value3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label ><h6>Correta:</h6></label>
                                        <div class="ml-5">
                                            <input type="checkbox" class="form-check-input" ng-model="corretas.Value4">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label><h6>Correta:</h6></label>
                                        <div class="ml-5">
                                            <input type="checkbox" class="form-check-input" ng-model="corretas.Value5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  ng-show="inputError" class="alert alert-warning">
                                <strong>Atenção!</strong> Você deve preencher todos os campos.
                            </div>

                            <button type="button" class="btn btn-outline-secondary " ng-click="checkPasso2('anterior')">
                                    <i class="fas fa-arrow-alt-circle-left"></i>                            
                                    Voltar
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="checkPasso3('objetiva')">Continuar</button>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 4">
                    <div class="progress form-group row " style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
                    </div>
                    <label><h6>Competências identificadas pelo classificador automático:</h6></label>
                    <div class="competencias">
                            <span  class="col-1">
                                <em>{{repaginaCompetencias(competencias)}} </em>
                            </span>
                    </div>
                    <br>

                    <div class="form-group row" required>

                        <label><h6>Competências que você identificou:</h6></label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col" style="border-bottom: none">Competência</th>
                                <th scope="col" colspan="3" style="border-bottom: none">Esta competência está presente na questão?</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                <th scope="col" style="border-top: none"></th>
                                <th scope="col" style="border-top: none">Sim</th>
                                <th scope="col" style="border-top: none">Não</th>
                                <th scope="col" style="border-top: none"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in avaliacao.competencias" >
                                    <th scope="row">{{repaginaComp(key)}}</th>
                                    <td><input type="radio" value="true" data-ng-model="avaliacao.competencias[key]"></td>
                                    <td><input type="radio" value="false" data-ng-model="avaliacao.competencias[key]"></td>
                                    <td scope="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="toggleAddCompetencia($index)" data-target="#addCompetencia{{$index}}">
                                            Conte-nos mais <i class="fas fa-edit"></i>
                                        </button>
                                                <div class="modal fade" id="addCompetencia{{$index}}">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                        
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" >Selecione trechos em que a competência {{key.split("_")[1].toLowerCase()}} está presente</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            
                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <div class="form-group row container">
                                                                    <div class="ql-snow"><div comp="{{key}}" class="enunciado ql-editor areaSelecaoCriacaoQuestao" ng-bind-html="avaliacao.maisInfo[key]" id="areaSelecaoCriacaoQuestao"></div></div>
                                                                </div>
                                                            </div>
                                                        
                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <div style="margin: auto;">
                                                                    <button  type="button" id="highlighter" class="btn btn-warning btn-sm" ng-class="{'active': highlightType == true}" ng-click="setHighlightType(true)"> 
                                                                        <i class="fas fa-highlighter"></i>
                                                                    </button>
                                                                    <button  type="button" id="eraser" class="btn btn-danger btn-sm" ng-class="{'active': highlightType == false}" ng-click="setHighlightType(false)"> 
                                                                        <i class="fas fa-eraser"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group row"  >
                        <label><h6>Seu nível de confiança nesta avaliação: {{avaliacao.confianca}}%</h6></label>
                        <input type="range" class="custom-range" min="0" max="100" step="1" data-ng-model="avaliacao.confianca">
                    </div>

                    <div class="form-group row"  >
                        <label><h6>Aqui você pode escrever alguma observação com relação a avaliação:</h6></label>
                        <textarea class="form-control" data-ng-model="avaliacao.obsAvaliacao" rows="3"></textarea>
                    </div>

                    
                    

                    <button type="button" class="btn btn-outline-secondary " ng-click="checkPasso3('anterior')">
                            <i class="fas fa-arrow-alt-circle-left"></i>                            
                            Voltar
                    </button>
                    <!--
                    <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addCompetencia()" data-target="#addCompetencia">Adicionar trecho correspondente a competência</button>
                    -->
                    <button type="button" class="btn btn-primary" ng-click="checkPasso4()">Registrar</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>


