<div class="page-header">
    <div class="container"  id=headbox >
        <h3>CRIAR QUESTÃO</h3>
        <hr width="60%">
    </div>

     <!-- ========================  Formulário de Criar Questão  ============================================== -->

    <div class="container" ng-controller="AddQuestaoController">
        <form class = "col-lg-6 offset-sm-3" name="myDataForm" >

            <div class="form-group row">
                <label ><h6>Autor:</h6></label>
                <input class="form-control" type="text" placeholder={{nome_usuario}} readonly>
            </div>

            <div class="form-group row">
                    <label ><h6>Tipo de Questão:</h6></label>
    
                    <div  class="col-1 addTipo">
                            <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="Objetiva"  id="customRadioInline1" name="tipo" class="custom-control-input" data-ng-model="tipo"> 
                                    <label class="custom-control-label" for="customRadioInline1">Objetiva</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"  value="Subjetiva" id="customRadioInline2" name="tipo" class="custom-control-input"  data-ng-model="tipo">
                                    <label class="custom-control-label" for="customRadioInline2">Subjetiva</label>
                            </div>
                    </div>
       
                    </div> 
   

            <div class="form-group row"  >
                <label><h6>Fonte:</h6></label>
                <input  type="text" class="form-control"  placeholder="Ex.: PISA, ENEM ou Autoral" ng-model="fonte">
            </div>

    
            <div class="form-group row">
                <label><h6>Enunciado:</h6></label>
                <ng-quill-editor id = "quill" modules="editorModules" placeholder="Digite o enunciado da questão." 
                    ng-model="enunciado" on-editor-created="editorCreated(editor)" 
                    on-content-changed="contentChanged(editor, html, text)">                          
                </ng-quill-editor>               
            </div>




            <div class="form-group row conteudoAdd">
                <label><h6>Conteúdo:</h6></label>
                <select class="form-control selectpicker" data-none-selected-text= "Selecione um conteúdo" 
                data-none-results-text= "Nenhum resultado encontrado" data-live-search="true" 
                data-live-search-normalize="true" data-size=6 ng-model="conteudo">
                <optgroup label="">
                    <option data-tokens="somar">Adição</option>
                    <option >Conjuntos</option>
                    <option data-tokens="Numéricos Complexos Racionais Reais Naturais Irracionais Inteiros">Conjuntos Numéricos</option>
                    <option >Critérios de Divisibilidade</option>
                    <option>Divisão</option>
                    <option>Divisão de Frações</option>
                    <option>Equação do Primeiro Grau</option>
                    <option>Equação do Segundo Grau</option>
                    <option>Estatística</option>
                    <option>Expressões Numéricas</option>
                    <option>Frações</option>
                    <option data-tokens="Formas Geométricas">Geometria</option>
                    <option data-tokens="Cilindro Cubo Cone Esfera Paralelepípedo">Geometria Espacial</option>
                    <option data-tokens="Ângulos Bissetriz Mediatriz Paralelogramo Retas Quadrado Retângulo Trapézio Triângulo">Geometria Plana</option>
                    <option>Inequação</option>
                    <option>Juros Compostos</option>
                    <option>Juros Simples</option>
                    <option>Matrizes</option>
                    <option>MDC: Máximo Divisor Comum</option>
                    <option>MMC: Mínimo Múltiplo Comum</option>
                    <option>Multiplicação</option>
                    <option>Multiplicação de Frações</option>
                    <option>Números Decimais</option>
                    <option>Números Primos</option>
                    <option>Potenciação</option>
                    <option>PA: Progressão Aritmética</option>
                    <option>PG: Progressão Geométrica</option>
                    <option>Plano Cartesiano</option>
                    <option>Porcentagem</option>
                    <option>Produtos Notáveis</option>
                    <option>Radiciação</option>
                    <option>Razão e Proporção</option>
                    <option>Sistemas Lineares</option>
                    <option>Soma de Frações</option>
                    <option>Subtração</option>
                    <option>Subtração de Frações</option>
                    <option>Tabuada</option>
                    <option>Triângulo de Pascal</option>
                    <option data-tokens="Seno Cosseno Tangente">Trigonometria</option>
                    <option>Unidades de Medida</option>
                </optgroup>
                    <option>Outros</option>
                </select>
            </div>
    
             <!-- ========================  Campos específicos de questão Subj  ============================================== -->

            <div ng-switch = "isObjective()">
                <div ng-switch-when="false"> 

                    <div class="form-group row">
                        <label><h6>Você deseja incluir  espelho para questão? 
                        </h6></label> 
                        <div class="custom-control custom-checkbox col-lg-3">
                            <input id = "customCheckEspelho" type="checkbox"  class="custom-control-input" data-toggle="collapse" data-target="#espelho"> 
                            <label class="custom-control-label" for="customCheckEspelho">Sim</label>
                        </div>
                    </div>

                        <div id="espelho" class="form-group row collapse">   
                            <label><h6>Espelho da Questão:</h6></label>  
                            <ng-quill-editor modules="editorModules" placeholder="Digite a resposta da questão"
                            ng-model="resposta.espelho" on-editor-created="editorCreated(editor)" 
                                on-content-changed="contentChanged(editor, html, text)"> </ng-quill-editor>
                        </div>

                        <div class="form-group row">
                                <div class="container">
                                    <button id = "bt-subjetiva"  class="btn btn-primary" ng-click="sendQuestionSubjective()">Registrar</button>
                                </div>
                        </div>
                    
                </div>

             <!-- ========================  Campos específicos de questão Obj  ============================================== -->
            </form>

                <div ng-switch-when = "true">
                    
                    
                    <div class = "container">

                    <div class="form-group row">
                        <div class="form-group row col-sm-5" >
                            <label><h6>Alternativa 1:</h6></label>
                            <input type="text" class="form-control inputAlternativa" placeholder="Digite a alternativa 1" ng-model="alternativas.alternativa1">
                        </div>
                        <div class="form-group row  col-lg-2" >
                                <label ><h6>Correta:</h6></label>
                                <input type="checkbox" class="form-control" ng-model="corretas.Value1">
                        </div>

                    </div>

                    <div class="form-group  row ">
                            <div class="form-group row col-sm-5" >
                                <label><h6>Alternativa 2:</h6></label>
                                <input type="text" class="form-control" placeholder="Digite a alternativa 2" ng-model="alternativas.alternativa2">
                            </div>
                            <div class="form-group row col-lg-2" >
                                <label ><h6>Correta:</h6></label>
                                <input type="checkbox" class="form-control" ng-model="corretas.Value2">
                            </div>
    
                    </div>


                    <div class="form-group  row">
                            <div class="form-group row col-sm-5" >
                                <label><h6>Alternativa 3:</h6></label>
                                <input type="text" class="form-control" placeholder="Digite a alternativa 3" ng-model="alternativas.alternativa3">
                            </div>
                            <div class="form-group row col-lg-2" >
                                <label ><h6>Correta:</h6></label>
                                <input type="checkbox" class="form-control" ng-model="corretas.Value3">
                            </div>
    
                    </div>

                    <div class="form-group  row">
                            <div class="form-group row col-sm-5" >
                                <label><h6>Alternativa 4:</h6></label>
                                <input type="text" class="form-control" placeholder="Digite a alternativa 4" ng-model="alternativas.alternativa4">
                            </div>
                            <div class="form-group row col-lg-2" >
                                <label ><h6>Correta:</h6></label>
                                <input type="checkbox" class="form-control" ng-model="corretas.Value4">
                            </div>
    
                    </div>

                    <div class="form-group  row">
                            <div class="form-group row col-sm-5" >
                                <label><h6>Alternativa 5:</h6></label>
                                <input type="text" class="form-control" placeholder="Digite a alternativa 5" ng-model="alternativas.alternativa5">
                            </div>
                            <div class="form-group row col-lg-2" >
                                <label ><h6>Correta:</h6></label>
                                <input type="checkbox" class="form-control" ng-model="corretas.Value5">
                            </div>
    
                    </div>


                    </div>

                        <div class="form-group row">
                                <div class="container">
                                    <button  id="question-bt"  class="btn btn-primary" ng-click="sendQuestionObjective()">Registrar</button>
                                </div>
                        </div>
                </div>

            </div>
           
    </div>

</div>
