<div class = "row">

<div  id = "buscas" class="container" >
    <div class="container col-lg-6 offset-sm-3" id=headbox >
        <h3> BUSCAR QUESTÕES</h3>
        <hr>
    </div>

    <div  class="form-inline">
        <div  class="form-group conteudoSearch col-lg-6">
            <label><h6>Conteúdo:</h6></label>
            <select class="form-control selectpicker " 
            data-none-results-text= "Nenhum resultado encontrado" data-live-search="true" editable="true" 
            multiple="true" ng-model="conteudoSearch">
            </select>
        </div>
    </div>

    <div  class="form-group row">   
    <label id = "competenciasSearchLabel"><h6>Selecione as competências:</h6></label>      
    <div id = "competenciasSearch" class="row">  
            <div class="column">
                    <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_ABSTRAÇÃO" id="customCheck7" ng-click="toggleCheck($event)"> 
                            <label class="custom-control-label" for="customCheck7">Abstração</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_ALGORITMOS" id="customCheck10" ng-click="toggleCheck($event)"> 
                            <label class="custom-control-label" for="customCheck10">Algoritmos</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_ANÁLISE" id="customCheck4" ng-click="toggleCheck($event)"> 
                            <label class="custom-control-label" for="customCheck4">Análise</label>
                    </div>
            </div>

            <div class="column">   
                    <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_AUTOMAÇÃO" id="customCheck9" ng-click="toggleCheck($event)"> 
                            <label class="custom-control-label" for="customCheck9">Automação</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_COLETA" id="customCheck2" ng-click="toggleCheck($event)"> 
                            <label class="custom-control-label" for="customCheck2">Coleta</label>
                        </div>
                        
                <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_DECOMPOSIÇÃO" id="customCheck6" ng-click="toggleCheck($event)"> 
                        <label class="custom-control-label" for="customCheck6">Decomposição</label>
                </div>

            </div>
            <div  class="column">
                    <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_PARALELIZAÇÃO" id="customCheck3" ng-click="toggleCheck($event)"> 
                            <label class="custom-control-label" for="customCheck3">Paralelização</label>
                    </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_REPRESENTAÇÃO" id="customCheck5" ng-click="toggleCheck($event)"> 
                        <label class="custom-control-label" for="customCheck5">Representação</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_SIMULAÇÃO" id="customCheck8" ng-click="toggleCheck($event)"> 
                        <label class="custom-control-label" for="customCheck8">Simulação</label>
                </div>



            </div>
            <div  class="column">
                <div class="custom-control custom-checkbox custom-control">
                    <input type="checkbox" class="custom-control-input" checklist-model="questao.competencias" value="COMP_TODAS" id="customCheck1" ng-click="toggleCheck($event)" checked>
                    <label class="custom-control-label" for="customCheck1" >Todas</label>
                </div>
            </div>
    </div>
    </div>
    <div id="sendBusca">
            <button class="btn btn-primary" type="submit" ng-click="setPageStart(); showResults();  sendNewQuery(questao.competencias, conteudoSearch)"><span><ion-icon id="lupa-icon" name="search"></ion-icon></button>
    </div>
</div>
</div>






