<div class="page-header">
    
        <div class="container" id=headbox>
            <h3>MEUS DADOS</h3>
            <hr width="60%">
        </div>

        <div class="container" ng-controller="MeusDadosController">
    
            <form class = "col-lg-6 offset-sm-3 " name="myDataForm">
                <div class="form-group row">
                    <label ><h6>Email:</h6></label>
                    <input class="form-control " type="text" placeholder={{user_email}} readonly>
                    
                </div>
                <div class="form-group row">
                    <label><h6>Nome:</h6></label>
                     <input class="form-control" type="text" placeholder={{nome_usuario}} readonly>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group row" >
                            <label><h6>Idade:</h6></label>
                            <input name="idade" type="number" class="form-control"  ng-model="idade_usuario">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group row" >
                            <label><h6>Cargo:</h6></label>
                            <input name="cargo" type="text" class="form-control"  ng-model="cargo_usuario">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group row" >
                            <label><h6>Cidade:</h6></label>
                            <input name="cidade" type="text" class="form-control"  ng-model="cidade_usuario">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group row" >
                            <label><h6>Instituição: </h6></label>
                            <input name="instituicao" type="text" class="form-control"  ng-model="instituicao_usuario">
                        </div>
                    </div>
                </div> 
                
                <button type="submit" class="btn btn-primary" ng-click="updateUser()" >Atualizar</button>
                  
    
            </form>
    
        </div>

    
    </div>