
<div class="page-header" ng-controller="QuestoesController">

    <div   id=headbox >
        <h3>QUESTÕES</h3>
        <hr>
        

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 mb-4">

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
        <form class="form-inline mr-auto">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
        </form>
    
        </div>
        <!-- Collapsible content -->
    
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Navbar</a>
    
    </nav>


    </div>

     <!-- ========================  Filtros  ============================================== -->


     <!-- ========================  Questões  ============================================== -->

        <div id = "questoes" class="container">
            <div class= "questoes" ng-repeat="questao in Questoes | orderBy:'-' " >
                    <ul>      
                            <div class="enunciado" > <b>Enunciado:</b>  
                                {{updateViewQuill(questao.enunciado,"enunciado")}}</div>

                            <div ng-bind-html="enunciado"></div>

                            <div class="autor">  <b>Autor:</b> {{questao.autor}}</div>

                            <div class="fonte"><b>Fonte:</b > {{questao.fonte}}</div>

                            <div class="tipo"><b>Tipo:</b> {{questao.tipo}}</div>
              
                    </ul>

    <!-- ========================  Campos específicos de questão Obj/Subj  ============================================== -->

                    <div ng-switch = "isObjective(questao.tipo)">
                            <div ng-switch-when="false">
                                <div class="espelho"> <b>Espelho:</b> 
                                    {{updateViewQuill(questao.espelho,"espelho")}}</div>

                                    <p ng-bind-html="espelho"></p>

                            </div>
                            <div ng-switch-when="true">
                                <div class="autor"> <b>Alternativas:</b> 
                                    </div>
                                <div ng-repeat="alternativa in questao.alternativas">
                                    <div class="autor">  <b>Alternativa {{$index + 1}}:</b> 
                                        Valor: {{alternativa.texto}} ---> {{alternativa.correta}}
                                    </div>
                                    
                                </div>

                            </div>
                    </div>

                    <div class="autor"> <b>Competencias:</b> </div>
                    <div class="competencias" ng-repeat="competencia in questao.competencias">
                         {{competencia}}</div>

                    <div ng-switch = "isAutor(questao.autor)">
                        <div ng-switch-when="true">
                            <button  type="button" class="btn-remove btn-danger btn-sm" ng-click="removeQuestao(questao)" >
                             <ion-icon id = "lixeira"name="trash"></ion-icon> </button>
                        </div>
                    </div>
            </div>
        </div>


</div>