<div class="row">
    <div id = "buscas" class = "container">

        <div class = "col-lg-6 offset-sm-3" id=headbox>
            <h3>CADASTRO</h3>
            <hr>
        </div>
    
        <div class="container" ng-controller="SignUpController">
    
            <form class = "col-lg-6 offset-sm-3" ng-submit="validaCadastro()">
                <div class="form-group row"  >
                    <label><h6>Idade:</h6></label>
                    <input  type="number" class="form-control"  placeholder="Digite sua Idade" ng-model="idade">
                </div>
                <div class="form-group row"  >
                    <label><h6>Cargo:</h6></label>
                    <input  type="text" class="form-control"  placeholder="Digite seu Cargo" ng-model="cargo">
                </div>
                <div class="form-group row"  >
                    <label><h6>Cidade:</h6></label>
                    <input  type="text" class="form-control"  placeholder="Digite sua Cidade" ng-model="cidade">
                </div>
                <div class="form-group row"  >
                    <label><h6>Instituição:</h6></label>
                    <input  type="text" class="form-control"  placeholder="Digite sua Instituição" ng-model="nomeInstituicao">
                </div>
                
                <div  ng-show="inputError" class="alert alert-warning">
                        <strong>Atenção!</strong> Você deve preencher todos os campos.
                </div>

                <div class="container">
                    <button  type="submit" class="btn btn-primary" >Registrar</button>
                </div>

            </form>
               
        </div>
    </div>
    </div>  
</div>
    
    
   