#impressaoLista, #impressaoRespostas {
    margin: auto;
    padding: 2cm;
    width: 60%;
    background-color: white;
}
#fundoPdf {
    padding: 5px;
    background-color: dimgray;
}
.ql-editor img {
    margin: auto;
    display: block;
}
#impressaoLista blockquote {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0 0 0 4px;
}
#impressaoRespostas {
    margin-top: 10px;
}

#imprimeLista, #imprimeRespostas {
    display: block;
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
}

#imprimeLista {
    bottom: 85px;
    right: 30px;
    background-color: rgb(2, 129, 255);
}

#imprimeRespostas {
    bottom: 20px;
    right: 30px;
    background-color: rgb(255,20,147);
}

#imprimeLista:hover, #imprimeRespostas:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media print {
    @page { margin: 2cm; padding: 0cm;}
    body { margin: 0cm; padding: 0cm;}
    blockquote { border: none; }
    #fundopdf { padding: 0;}
    #impressaoLista, #impressaoRespostas {
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: none !important;
    }
}