#impressao {
    margin: auto;
    padding: 2cm;
    width: 60%;
    background-color: white;
}
#fundoPdf {
    padding: 5px;
    background-color: dimgray;
}
.ql-editor img {
    width: 80%;
    margin: auto;
    display: block;
}
@media print {
    @page { margin: 0cm; padding: 0cm;}
    body { margin: 0cm; padding: 0cm;}
    #fundopdf { padding: 0;}
    #impressao {
        margin: 0;
        width: 100%;
        box-shadow: none !important;
    }
}