  
  input[type=text], input[type=password] {
  padding: 7px;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #b2c7ca;
  outline: none;
}

input[type=number], input[type=password] {
  padding: 7px;
  background: #ffffff;
}

input[type=number]:focus, input[type=password]:focus {
  background-color: #b2c7ca;
  outline: none;
}

button {
  background-color: #17a2b8;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-remove, .btn-danger, .btn-sm{
  width: 4%;
  float: right;
}

#questoes{
  margin-block-start: 3%;
}


.questoes{
  margin: 10px 0 10px 0;
  border: 1px solid #aaa;
  background: rgb(204, 255, 242);
  border-radius: 8px;
  width: 100%;
  padding:15px 15px 100px ;
}
button:hover {
  opacity:5;
}

#lixeira{
  font-size: 20px;
}



.autor{
  color: gray;
}

.fonte, .tipo, .enunciado, .espelho{
  color: #088;
}


#opcoesEspecificas{
  margin-block-start: 8%;
}

#addEspelho {
  margin-block-start: 1%;
  margin-inline-start: 2%;
}

[ng-quill-editor] {
  display: block; 
}

#quill{
  height: 250px;
}

#question-bt {
  margin-block-start: 6%;
}

@media screen and (max-width: 580px) {
  #opcoesEspecificas{
    margin-block-start: 45%;
  }

}