  
  input[type=text], input[type=password] {
  padding: 7px;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #cad5da;
  outline: none;
}

input[type=number], input[type=password] {
  padding: 7px;
  background: #ffffff;
}

input[type=number]:focus, input[type=password]:focus {
  background-color: #f3f6f7;
  outline: none;
}

button {
  background-color: #17a2b8;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.btn-remove, .btn-danger, .btn-sm{
  width: 4%;
  float: right;
}




.questoes{
  text-align: justify;
  margin: 5px 0 5px 0;
  padding:15px 15px 100px ;
}
button:hover {
  opacity:5;
}

#lixeira{
  font-size: 20px;
}

#question-bt {
  margin-block-start: 2%;
}


.autor{
  color: gray;
}

.fonte, .tipo, .enunciado, .espelho{
  margin-inline-end: 20%;
  color: #088;
}


#addEspelho {
  margin-block-start: 1%;
  margin-inline-start: 2%;
}

[ng-quill-editor] {
  display: block; 
}

#quill{
    height: 250px;
}

#bt-subjetiva {
  margin-top: 17%;
}

.conteudoAdd{
  margin-block-start: 25%;
}



/* Style buttons */
.buttonload {
  width: 10%;
  background-color: rgb(10, 124, 255); /* Green background */
  border: none; /* Remove borders */
  border-radius: 8px;
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  margin-inline-start: 10%;
  margin-block-end: 90%;
}

#notFoundMessage{
  text-align: justify;
  margin-inline-start: 12%;
  margin-block-start: 2%;
}

#todas {
  margin-inline-start: 7%;
}
#todas button{
  width:350px;
}

#todas button:active {
  background: rgb(65, 96, 126);
}

.addTipo {
  margin-inline-end: 100%;
  float: left;
}





@media screen and (max-width: 580px) {
  .conteudoAdd{
    margin-block-start: 45%;
  }

  #question-bt {
    margin-block-start: 6%;
  }

  #bt-subjetiva {
    margin-block-start: 35%;
  }

  #todas button{
    width:100px;
  }
  

}





