  
  input[type=text], input[type=password] {
  padding: 7px;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #cad5da;
  outline: none;
}

input[type=number], input[type=password] {
  padding: 7px;
  background: #ffffff;
}

input[type=number]:focus, input[type=password]:focus {
  background-color: #f3f6f7;
  outline: none;
}

button {
  background-color: #17a2b8;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-remove, .btn-danger, .btn-sm{
  width: 4%;
  float: right;
}

#questoes{
  margin-inline-start: 45%;
}


.questoes{
  margin: 5px 0 5px 0;
  border: 1px solid #aaa;
  background: rgb(233, 242, 243);
  border-radius: 8px;
  width: 60%;
  padding:15px 15px 100px ;
}
button:hover {
  opacity:5;
}

#lixeira{
  font-size: 20px;
}



.autor{
  color: gray;
}

.fonte, .tipo, .enunciado, .espelho{
  margin-inline-end: 20%;
  color: #088;
}


#addEspelho {
  margin-block-start: 1%;
  margin-inline-start: 2%;
}

[ng-quill-editor] {
  display: block; 
}

#quill{
  height: 250px;
}

#bt-subjetiva {
  margin-block-start: 8%;
}

.conteudoAdd{
  margin-block-start: 8%;
}


/* Style buttons */
.buttonload {
  width: 10%;
  background-color: rgb(10, 124, 255); /* Green background */
  border: none; /* Remove borders */
  border-radius: 8px;
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  margin-inline-start: 10%;
  margin-block-end: 90%;
}


@media screen and (max-width: 580px) {
  .conteudoAdd{
    margin-block-start: 40%;
  }

  #question-bt {
    margin-block-start: 6%;
  }
  #opcoesEspecificas{
    margin-block-start: 5%;
  }
  #bt-subjetiva {
    margin-block-start: 35%;
  }

}





