#search-menu {
    float:left;
    margin-inline-start: 3%;

    padding:15px 15px 30px ;
  }

#outros-tipos button {
  margin-block-start: 4%;
}

#search-menu h3 {
  margin-inline-start: 2%;
}





.column {
  flex: 5%;
  max-width: 6%;
  padding: 0 4px;
  margin-inline-start: 7%;
}




  
  #lupa-icon{
    font-size: 20px;
  }



  #conteudoSearch{
    width: 70%;
  }
  

  .search button {
    margin-block-start: 5%;
    margin-inline-start: 30%;
    width: 80%;
  }





/* ======================================= Botão competências/autor/fonte/tipo ====================== */




